{% extends "base.html" %}
{% load staticfiles %}
{% block extend_static %}<link rel="stylesheet" type="text/css" href="{% static '/apps/user/css/login.css' %}"/>{% endblock %}
{% block body %}
<div id="div_login" class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>用户登录</h4></div>
                <div class="panel panel-body">
                    <form method="post" action="{% url 'login' %}" class="form-signin">
                        {% csrf_token %}
                        {% for i in loginform %}
                            {{ i }}{{ i.errors }}
                        {% endfor %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">记住我
                            </label>
                        </div>
                        <button class="btn btn-primary btn-block" style="margin-bottom: 15px">登录</button>
                        {% if message %}
                            <p id="message">{{message}}</p>
                        {% endif %}
                    </form>
                    <a href="" style="">忘记密码</a>
                    <a href="{% url 'userregister' %}" style="">注册</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}