{% extends "base.html" %}
{% load staticfiles %}
{% block extend_static %}<link rel="stylesheet" type="text/css" href="{% static '/apps/user/css/register.css' %}"/>{% endblock %}
{% block body %}
<div id="div_register" class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>用户注册</h4></div>
                <div class="panel panel-body">
                    <form id="register_form" method="post" action="{% url 'userregister' %}" class="form-signin">
                        {% csrf_token %}
                        {% for i in registerform %}
                            {{ i }}{{ i.errors }}
                        {% endfor %}
                        <button class="btn btn-primary btn-block" style="margin-bottom: 15px">注册</button>
                    </form>
                <p id="register_rst" hidden>{% if message %}{{ message }}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="margin: 20px">
					注册成功
				</h4>
			</div>
{#			<div class="modal-body">#}
{#				在这里添加一些文本#}
{#			</div>#}
			<div class="modal-footer">
				<a href="{% url 'login' %}" class="btn btn-primary">
					现在登陆
				</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


<script src="{% static '/apps/user/js/user_register.js' %}"></script>
{% endblock %}