{% extends "base.html" %}
{% load staticfiles %}
{% block nav_active_user%}active{% endblock %}
{% block extend_static %}
    <link rel="stylesheet" type="text/css" href="{% static '/cropper/cropper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/apps/user/css/user_info.css' %}">
    <script src="{% static '/cropper/cropper.min.js' %}"></script>
    <script src="{% static '/cropper/jquery-cropper.min.js' %}"></script>
    <script src="{% static '/base/js/jquery-form.js' %}"></script>
{% endblock %}
{% block body %}

<div id="" class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default" style="padding: 5px">
                <ul class="nav nav-pills nav-stacked" id="left_nav">
                <li class="active"><a href="#tab_myinfo" data-toggle="pill"><span class="glyphicon glyphicon-th-list"></span> 基本信息</a></li>
                <li><a href="#tab_headpic" data-toggle="pill"><span class="glyphicon glyphicon-camera"></span> 设置头像</a></li>
                <li><a href="#">暂无</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 tab-content">
            <div id="tab_myinfo" class="panel panel-default tab-pane fade in active" style="padding: 30px">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <span class="input-group-addon">用户名</span>
                            <input type="text" class="form-control" value="{{ userinfo.username }}" readonly>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">积分</span>
                            <input type="text" class="form-control" value="{{ userinfo.score }}" readonly>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">头衔</span>
                            <input type="text" class="form-control" value="{{ userinfo.level }}" readonly>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="commonheadpic center-block">
                            <img src="{% if userinfo.headpic %}{{ userinfo.headpic.url }}{% else %}{% static 'base/img/autoheadpic.jpg'%}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">个性签名</span>
                    <textarea type="text" class="form-control" style="resize: none">{{ userinfo.sign }}</textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">昵称</span>
                    <input type="text" class="form-control" value="{{ userinfo.nickname }}">
                </div>
{#                <div class="input-group">#}
{#                    <span class="input-group-addon">兴趣</span>#}
{#                    <input type="text" class="form-control" value="{{ userinfo.interest }}">#}
{#                </div>#}
            </div>
            <div id="tab_headpic" class="tab-pane fade">
                    {#这里引用杨老师的教程http://yshblog.com/blog/133#}
                    <div class="col-sm-10">
                        {#cropper编辑区域#}
                        <div class="avatar-wrapper panel panel-default" id='avatar-wrapper'>
                            <img src="">
                        </div>
                        <div class="btn-group" style="margin: 20px;">
                            <a id="zoom-in" class="btn btn-primary">放大</a>
                            <a id="zoom-out" class="btn btn-primary">缩小</a>
                            <a id="reset" class="btn btn-primary">重置</a>
                        </div>
                    </div>
                    <div class="col-sm-2 panel panel-default" style="padding-top: 30px;padding-bottom: 30px">
                        {#头像预览区域#}
                        <div class="avatar-preview center-block">
                            <img src="{% if userinfo.headpic %}{{ userinfo.headpic.url }}{% else %}{% static 'base/img/autoheadpic.jpg'%}{% endif %}">
                        </div>
                        {#上传按钮#}
                        <div class="btn-group-vertical center-block" style="margin-top: 20px;width: 80%">
                            <a id="upload" class="btn btn-primary">上传头像</a>
                            <label class="btn btn-primary" for="avatar-input">选择图片</label>
                        </div>
                    </div>
                        {#form#}
                    <form action="{% url 'myinfo_headpic' %}" method="post" id="avatar_form" enctype="multipart/form-data">
                        {%csrf_token%}
                       <input style="display:none" type="file" class="avatar-input" id="avatar-input" name="avatar_file" accept=".jpg,.jpeg,.png">
                       <input type="hidden" id="permission_name" name="permission_name">
                       <input type="hidden" id="avatar_x" name="avatar_x">
                       <input type="hidden" id="avatar_y" name="avatar_y">
                       <input type="hidden" id="avatar_width" name="avatar_width">
                       <input type="hidden" id="avatar_height" name="avatar_height">
                    </form>
            </div>
        </div>
    </div>
</div>


<script>
var jsdata = {
    headpic_url:'{% url 'myinfo_headpic' %}',
    username:'{{ userinfo.username }}'
}
</script>

<script src="{% static '/apps/user/js/user_info.js' %}"></script>
{% endblock %}