{% extends "base.html" %}
{% load staticfiles %}
{#{% block extend_css %}<link rel="stylesheet" type="text/css" href="{% static '/user/css/login.css' %}"/>{% endblock %}#}
{% block body %}
<div id="" class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default" style="background-color: #1b6d85">

            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default" style="background-color: #1b6d85">

            </div>
        </div>
    </div>
</div>
{% endblock %}