{% extends "base.html" %}
{#{% load static %}#}
{#{% block extend_static %}<link rel="stylesheet" type="text/css" href="{% static '/blog/css/blog_write.css' %}"/>{% endblock %}#}
{#导航已选项#}
{% block nav_active_blog%}active{% endblock %}
{#巨幕图片路径#}
{% block backgroundpic %}/static/apps/user/img/user_background.jpg{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="">
            <div class="panel panel-default">
                <div class="panel-body">
            {{ userinfo.nickname }}
{#            <img src="{{ userinfo.headpic.url }}">#}
                    <a class="btn btn-default" href="{% url 'myinfo' userinfo.username %}">修改信息</a>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for i in article %}
                        {{ i.title | safe}}
                        {{ i.text  | safe}}
                        {% if not forloop.last%}<hr>{% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}