{% extends "base.html" %}
{% load static %}
{% block nav_active_user%}active{% endblock %}
{#{% block extend_static %}<link rel="stylesheet" type="text/css" href="{% static '/blog/css/blog_write.css' %}"/>{% endblock %}#}
{#导航已选项#}
{% block nav_active_blog%}active{% endblock %}
{#巨幕图片路径#}
{% block backgroundpic %}/static/apps/user/img/user_background.jpg{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6" style="margin-top: 30px">
                              <h3 style="text-align: center">{{ userinfo.nickname }}</h3><br>
                              <li class="list-unstyled">{{ userinfo.sign }}</li>
                        </div>
                        <div class="col-xs-6">
                            <div class="commonheadpic center-block">
                                <img style="width: 96px; height: 96px;" src="{% if userinfo.headpic %}{{ userinfo.headpic.url }}{% else %}{% static 'base/img/autoheadpic.jpg'%}{% endif %}">
                            </div>
                            {% if permission == 'ture' %}
                                <a class="btn btn-default center-block" href="{% url 'myinfo' userinfo.username %}">修改信息</a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                    <div style="margin-top: 50px">
                        <li class="list-unstyled">积分：{{ userinfo.score }}</li><br>
                        <li class="list-unstyled">头衔：{{ userinfo.level }}</li><br>
                        <li class="list-unstyled">{{ userinfo.interest }}</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default" style="padding: 20px">
                <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_article" data-toggle="tab"><span class="glyphicon glyphicon-book"></span> 博客</a></li>
                <li><a href="#tab_like" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> 收藏</a></li>
                <li><a href="#">暂无</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab_article" class="tab-pane fade in active" style="padding: 20px">
                        {% for i in articles %}
                            <div id="{{ i.id }}">
                                {{ i.title | safe}}
{#                                {{ i.text  | striptags|safe|truncatechars:100|linebreaks }}#}
                                {% if permission == 'ture' %}
                                <span class="glyphicon glyphicon-trash article_delete" id="{{ i.id }}" style="float: right"></span>
                                <span class="glyphicon glyphicon-edit article_edit" id="{{ i.id }}" style="float: right;margin-right: 10px"></span>
                                {% else %}
                                {% endif %}
                                {% if not forloop.last%}<hr>{% endif %}
                            </div>
                        {% empty %}
                            <h1>暂无博客</h1>
                        {% endfor %}
                    </div>
                    <div id="tab_like" class="tab-pane fade" style="padding: 20px">
                        <h1>暂无内容</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
var jsdata={
    csrf:'{{ csrf_token }}',
    inter_url:'{% url 'userindexinter' %}',
    edit_url:'{% url 'edit' 'artid' %}',
}
</script>
<script type="text/javascript" src="{% static "apps/user/js/user_index.js" %}"></script>
{% endblock %}