{% extends "base.html" %}
{#{% load static %}#}
{#{% block extend_css %}<link rel="stylesheet" type="text/css" href="{% static '/blog/css/blog_write.css' %}"/>{% endblock %}#}
{% block nav_active_blog%}active{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="">
            <div class="panel panel-default">
                <div class="panel-body">
            {{ userinfo.nickname }}
{#            <img src="{{ userinfo.headpic.url }}">#}
                </div>
            </div>
        </div>
        <div class="col-md-8" style="">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for i in article %}
                        {{ i.title | safe}}
                        {{ i.text  | safe}}
                        {% if not forloop.last%}<hr>{% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}