{% extends "base.html" %}
{#导航已选项#}
{% block nav_active_blog%}active{% endblock %}
{#巨幕图片路径#}
{% block backgroundpic %}/static/apps/blog/img/background.jpg{% endblock %}
{#body#}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                    {% for i in article %}
                        <li class="list-group-item">
                            <a href="{% url 'article' i.id %}">{{ i.title }}</a>
                            <p>{{ i.auther__userinfo__nickname }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}