/*body*/
/*body{*/
    /*background-color: white;*/
/*}*/
div#div_register{
    margin-top: 100px;
}
/*登陆报错文字*/
ul.errorlist{
    padding-left: 0px;
}
ul.errorlist li{
    list-style-type: none;
    color: red;
}
/*登陆input*/
div#div_register input{
    margin-bottom: 15px;
}

#registerModal{
    margin-top: 200px;
}
