/*头像编辑*/
.avatar-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.avatar-wrapper img { display: block; height: auto; max-width: 100%;}

/*头像预览*/
.avatar-preview {
  border-radius: 15%;
  overflow: hidden;
  height: 96px;
  width: 96px;
}
.avatar-preview:hover { border-color: #ccf; box-shadow: 0 0 5px rgba(0,0,0,.15);}

.avatar-preview img{
  height: 96px;
  width: 96px;
}

.input-group{
  margin-top:20px;
  margin-bottom: 20px;
}
