<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperPigeons</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static '/base/img/pigones.png' %}"/>
    {#模板共用静态文件#}
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-3.3.7-dist/css/bootstrap-dialog.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/base/css/base.css' %}"/>
    <script src="{% static '/base/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap-dialog.min.js' %}"></script>
    <script src="{% static '/base/js/jquery.cookie.js'%}"></script>
    <script src="{% static '/base/js/base.js' %}"></script>
    {#子页面需要的静态文件#}
    {% block extend_static %}{% endblock %}
</head>

<body>
{#导航栏#}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        {#导航标题#}
        <div class="navbar-header">
            {# 移动端按钮 #}
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_content" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
            {# 标题内容 #}
            <a class="navbar-brand">SuperPigeons</a>
        </div>
        {#导航内容#}
        <div class="navbar-collapse collapse" id="nav_content">
            <ul class="nav navbar-nav">
                <li class="{% block nav_active_index %}{% endblock %}">
                    <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a>
                </li>
                <li class="{% block nav_active_blog %}{% endblock %}">
                    <a href="{% url 'blog' %}"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> 博客</a>
                </li>
{#                <li><a href="">其他</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                {% if user.is_authenticated %}
                    <li class="dropdown {% block nav_active_user%}{% endblock %}">
                        <a  style="min-width: 120px;text-align: center" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="min-width:100%;">
                            <li><a href="{% url 'userindex' user.username %}"><span class="glyphicon glyphicon-home"></span> 我的主页</a></li><li class="divider"></li>
                            <li><a href="{% url 'blogedit' 'add' 'new' %}"><span class="glyphicon glyphicon-edit"></span> 新的博客</a></li><li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 登陆</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
</nav>
{#巨幕图片#}
<div class="">
    <img src="{% block backgroundpic %}{% endblock %}" class="img-responsive center-block ">
</div>

<!-- 模态框（Modal）错误 -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="margin: 20px">
				</h4>
			</div>
{#			<div class="modal-body">#}
{#				在这里添加一些文本#}
{#			</div>#}
			<div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">我知道了</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 模态框（Modal）提示 -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel" style="margin: 20px">
				</h4>
			</div>
{#			<div class="modal-body">#}
{#				在这里添加一些文本#}
{#			</div>#}
			<div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">我知道了</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 模态框（Modal）选择 -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel" style="margin: 20px">
				</h4>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-primary" id="selectModal_yes">是</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal">否</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{#body#}
{% block body %}{% endblock %}

{#modal滚动条问题#}
<script type="text/javascript">
    window.onload = function() {
        $('.modal').on('hide.bs.modal', function() {
            $("body").removeClass('modal-open');
            $("body").css('padding-right','0px');
        })
    };
</script>
</body>
</html>