/*标题*/
input#title{
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 8px;
    margin-bottom: 15px;
}
/*富文本编辑框*/
.django-ckeditor-widget{
    width: 100%;
}

div.container{
    margin-top: 100px;
 }
/*标签样式*/
.label{
    padding:.3em .6em .4em;
    font-size:100%
}
span.tag_name{
    font-size: 90%;
    font-weight: 200;
}
