#article_panel p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-break: break-all
}
.emojione{
    font-size: inherit;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
}

div#comment{
    margin-top: 35px;
}
div.comment_bottom{
    text-align: right;
    color: #aaa;
    bottom: 0px;
}

.comment_headpic{
  border-radius: 15%;
  overflow: hidden;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}
.comment_headpic img{
  height: 70px;
  width: 70px;
}

div#new_comment{
    margin-top: 35px;
}
button#new_comment_btn{
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}




