body{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ebebeb;
}

.panel{
    margin-bottom: 0px;
}

.container{
    margin-top: 35px;
}

.commonheadpic{
  border-radius: 15%;
  overflow: hidden;
  height: 96px;
  width: 96px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.commonheadpic img{
  height: 96px;
  width: 96px;
}